<div class="row">
  <div class="col-sm-8">
    <div class="card">
       <div class="card-block">
        <h4 class="card-title"><%= article.title %>        
        </h4>
         <p class="card-text"><%= @markdown.render(article.body).html_safe %>
         
         </p>
          <div class="card-footer">
          <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
  
        <p class="col-md-8 text-xs-left">
                        Tags:
                        <% article.tags.each do |tag| %>
                        <%= link_to tag.name, tag_path(tag), class:'label label-default' %>
                        <% end %>   
                        </p> 
                    </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>