<p id="notice"><%= notice %></p>
	<div class="container">
		<div class="container-fluid">
	</div>
<body>
	<header class="blog_header middle">
		<div class="wrap">
			<span id="animationSandbox" style="display: block;">
				<h1 class="blog_title mega">My first Rails Application</h1>
			</span>
		</div>
	</header>
</body>



<%= render @articles %>

<br>

<%= link_to 'New Article', new_article_path %>

