<p id="notice"><%= notice %></p>
<div class="container">
<div class="container-fluid">
  <h1>Alecks Johanssen's Blog</h1>
  
</div>


<h3>My first Rails Application for CoderSchool!</h3>

<%= render @articles %>

<br>

<%= link_to 'New Article', new_article_path %>

