<p id="notice"><%= notice %></p>
<div class="container">
<div class="container-fluid">
  <h1>Alecks Johanssen's Blog</h1>
  
</div>
<span><h3 class="site__title">My first Rails Application</h3></span>


<%= render @articles %>

<br>

<%= link_to 'New Article', new_article_path %>

