<!DOCTYPE html>
<html>
<head>
	<link rel="dns-prefetch" href="//fonts.googleapis.com">
	<link rel="dns-prefetch" href="//code.jquery.com">
	<link href="//fonts.googleapis.com/css?family=Roboto:400,100,400italic,700italic,700" rel="stylesheet" type="text/css">
<style>
</style>
</head>
<body>
<p id="notice"><%= notice %></p>
	<div class="container">
		<div class="container-fluid">
	</div>
<body>
	<header class="blog_header middle">
		<div class="wrap" style="padding-right:40rem">
			<span id="animationSandbox" style="display: block;">
				<h1 class="blog_title mega blog">Welcome to my Blog</h1>
				<span class="beta subhead ">Hi I'm Alecks Johanssen from CoderSchool</span>			
			</span>
		</div>
	</header>
</body>
</body>
</html>
<% @articles.each do |article| %>
<h4 class="card-title"><%= link_to article.title, article %></h4>
<%= render @articles %>
<br>
       <% end %>


