
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title" style="text-align:center"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Create New Article</h3>
  </div>
  <div class="panel-body" style="padding-right:180px">
    <%= render 'form' %>
  </div>
</div>
        