
<div class="panel panel-primary">
  <div class="panel-heading" style="text-align:center">
    <h3 class="panel-title"><i class="fa fa-check-square-o" aria-hidden="true"></i>New User</h3>
  </div>
  <div class="panel-body" style="padding-right:200px">
    <%= render 'form' %>
  </div>
</div>
<%= link_to 'Back', users_path ,class: 'btn btn-default'%>
