<style> #intro-image {display:none} </style>
 <style> #card-show {display:none} </style> 
 <div class="login-panel pull-right">
 <div class="panel panel-default" style="padding-right:80px">
  <div class="panel-body">
  <legend>LogIn</legend> 
  <%= form_tag login_sessions_path,class:'', method: :post do %>
 <label for="inputEmail" class="col-lg-2 control-label">Email</label> 
 <div class="col-lg-10"> 
 <%= text_field_tag :email, "", class: 'form-control' %>
 </div>
 <label for="inputPassword" class="col-lg-2 control-label">Password</label>
  <div class="col-lg-10"> 
  <%= password_field_tag :password, "", class: 'form-control'%>
  </div>
  <button type="reset" class="btn btn-default">Cancel</button> 
  <button type="submit" class="btn btn-primary" data-no-turbolink="true">Submit</button>
  </div>
  <%end%> 
   </div>
  </div>