.gradient-background{
background-image: -o-linear-gradient(right, #51F7DB 0%, #036FFC 100%);
background-image: -moz-linear-gradient(right, #51F7DB 0%, #036FFC 100%);
background-image: -webkit-linear-gradient(right, #51F7DB 0%, #036FFC 100%);
background-image: -ms-linear-gradient(right, #51F7DB 0%, #036FFC 100%);
background-image: linear-gradient(to right, #51F7DB 0%, #036FFC 100%);
}
.btn-secondary-outline {
color: #fff!important;
border-color: #fff!important;
}
.blog_header {
  -webkit-animation: bounceInUp 1s;
}
.content {
  -webkit-animation: bounceInLeft 1s;
}
.body_text{
  font:"Roboto";
  font-color:#036FFC;
  font-weight: 200;
}
.box-row
{
  margin-right:30rem;
}
.box-align
{
  vertical-align: middle
}
.outline
{
font-weight: 300;
font-color:#036FFC;
color: #036FFC;
border-color: #036FFC;

}
/*Blog title color*/
.blog_title {
    color: #f35626;
    background-image: -webkit-linear-gradient(360deg,#51F7DB,#036FFC);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: hue 60s infinite linear;
}
/* Change Color Animation */
@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }

  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}
.middle {
  padding: 1.5rem;
}
.wrap {
  max-width: 90rem;
  margin: 0 auto;
}
.blog{
	font:"Roboto";
	font-size: 5rem;
	font-weight: 300;
	padding-top: 1.5rem;
}
.bar-left
{
  left:100px;
}
.mega {
    font-size: 5.5rem;
    line-height: 1;
  }
.subhead {
  	font:"Roboto";
  	font-size: 2rem;
  	color: #7b8993;
}
.btn-button {
  border: 2px solid #036FFC;
  line-height: 1.375;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  font-weight: 700;
  color: #036FFC;
  cursor: pointer;
  -webkit-animation: hue 60s infinite linear;
  padding: .75rem;
  margin: .375rem;
  background-color: transparent;
  border-radius: 4px;

}
html {
  font: 100%/1.5 "Roboto", Verdana, sans-serif;
  color: #3d464d;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  width: 100%;
  padding-top: 3rem;
  overflow: hidden-x;
  text-align: center;
}
.user-avatar {
    width: 80px!important;
    border-radius: 5px;
}
.comment {
    min-height: 53px;
    background: #f2f2f2;
    padding: 10px;
    font-size: 14px;
    margin-top: 2.5rem;
    border-radius: 5px;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, main {
  display: block;
}
.comment:before {
    content:"";
    position: absolute;
    left:-8px;
    top:47px;
    width:0px;
    height:0px;
    border-top:8px solid transparent;
    border-right:10px solid #f2f2f2;
    border-bottom:8px solid transparent;
}
.content-field-comment {min-height: 150px;}
.time-distance {margin-bottom: 0px;float: right;    font-size: 12px;
    color: #919191;
    margin-top: 5px;}
.card-block ul {
    list-style: inherit!important;
    padding-left: 20px;
}
.container {font-family: 'Montserrat', sans-serif;}
.card-title a {color:#34495e!important}
.card-title a:hover {color:#2c3e50!important; text-decoration: none;}
.comment-delete {
    opacity: 0;
    width: 80px;
    height: 80px;
    position: absolute;
    top: 0px;
    left: 15px;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.5);
    border: 0px;
    color: #fff;
}
.comment-delete:hover { 
    opacity: 1;
}
.label-blog {
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
}
.card-block ul {
    list-style: inherit!important;
    padding-left: 20px;
}